.App {
  text-align: center;
  color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 163px;
  border-radius: 0.5em;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.board-tag {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-left: 1em;
  padding: 1em;
}

.box {
  display: flex;
  justify-content: center;
  background-color: #BDBDBD;
  border: 0.3em outset #7B7B7B;
  padding: 1.2em;
}
/* Padding will skew the table */
.tile {
  border: 0.1em solid black;
  padding: 0em;
  margin-top: 1em;
  color: black;
}
